# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.Ceng462.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Maleriya\Desktop\Pigeon Gaming\Ceng462\.idea\.idea.Ceng462\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
